:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --white: #ffffff;
    --slate300: #d6e2f0;
    --slate500: #68778d;
    --slate900: #1f3251;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--slate300);
}